@import url('https://fonts.googleapis.com/css?family=Yantramanav:100');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400');


body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-image: url("../img/backgroundDesat.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    font-family: Yantramanav;
    font-size: 3em;
    text-align: center;
    color: white;
}


.container .item {
    flex: 1;
    flex-basis: 25%;
    border: none;
    padding: 15px 32px; 
    text-align: center;
    
}

.container{
    align-items: center;
}

.container .item a{
    text-decoration: none; 
}

@media (min-width: 900px){
    .container {
        display: flex;
        justify-content: space-between;
    }
}

.btn{
    border-radius: 25px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    font-family: Montserrat;
    font-size: 2em;
    flex: 1;
    flex-basis: 25%;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.btn:hover {
    background-color: rgba(0,0,0,0.7);
}

label, button {
    display: block;
    margin-top: 15px;
}

.message {
    display: none;
}


