label, button {
    display: block;
    margin-top: 15px;
}

.message {
    display: none;
}

body {
    background-image: url("../img/backgroundDesat.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

.form-row {
    display: flex;
}

.form-row label {

}

.form-row input {
    flex: 1;
}

