@import url('https://fonts.googleapis.com/css?family=Yantramanav:100');

.message {
    display: none;
    color: white;
    font-family: Yantramanav;
    font-size: 150%;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    background-color: rgba(0,0,0,0.4);
}

.reservations {
    font-family: Yantramanav;
    font-size: 125%;
}

.reservations td {
    border: none;
    padding: 8px;
}

.reservations tr {
    color: white;
    background-color: rgba(0,0,0,0.35);
}

.reservations tr:nth-child(even){background-color: rgba(0,0,0,0.4)}

.reservations th {
    padding: 12px;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    color: white;
}

.action {
    border-radius: 15px;
    background-color: rgba(0,0,0,0.65);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

body {
    background-image: url("../img/backgroundDarker.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}